
marquee div{display: none}
.header-nav, .menu-content {display: none}

.title-admin {
	text-align: center;
	margin-top: 30px;
	color: #fec231;
}
.admin-main{height: 500px;}
.banner3{display: none;}

.big-font-size {
    font-size: 72px;
    font-family: "Yanone Kaffeesatz";
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: bold;
}
ul {
	list-style-type: none;
}
.btn {
	width: 300px;
	margin-top: 10px;
}

.admin-navbar {
	margin: 20px;
}

.logo-div{
	border-radius: 100%;
}