table.dataTable tbody tr {
	background: none;
}
.table-custom {
	margin: 50px 0;
}
.table-custom .table a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.table-custom .table a.title-promotion:hover,
.table-custom .table a.title-promotion:focus{
	color: #fec231;
}
.table-custom .table th {
	font-size: 18px;
	color: #fec231;
	text-align: center;
}
.table-custom .table td.numeric {
	text-align: center;
}
.table-custom .table td {
	vertical-align: middle;
	font-size: 18px;
}