/**/
.center-div {
	margin: 50px auto;
	width: 85%;
	text-align: left;
}
.input-contact {
	margin-top: 20px;
	width: 100%;
}
.form-contact label.error {
	color:red;
	float: left;
	font-size: 15px;
	font-weight: normal;
}

.form-control-custom {
	color: #fff;
	background-color: #211336;
	border: 1px solid #fff;
	border-radius: 0px;	
	margin: 10px 0;
}


.btn-custom-style.btn-custom-style-experiences {
	border: 1px solid #fff;
    background-color: transparent;
    font-size: 24px;
    font-family: "Yanone Kaffeesatz";
    padding: 10px 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 50px auto;
}
.active .btn-custom-style.btn-custom-style-experiences:focus,
.btn-custom-style.btn-custom-style-experiences:focus, 
.btn-custom-style.btn-custom-style-experiences:hover {
    color: #15062b;
    background-color: #fff;
    border: 1px solid #fff;
    background-image: none;
}
/**/

/**/
.map-custom.div {
	padding: 50px;
}
.map-custom {
	height: 450px;
	border: 0;
	padding: 50px 0px;
}
.message-success {
	width: 80%;
	margin: 50px auto;
}
.wait-dialog {
	display: none;
}
.wait-dialog i {
	font-size: 60px;
	margin-top: 30px;
}
.wait-dialog p {
	font-size: 25px;
	margin-top: 15px;
}
/**/
@media (max-width: 767px) {
	.center-div {
		margin: 50px auto;
		width: 100%;
		text-align: left;
	}
	.map-custom {
		height: auto;
		border: 0;
		padding: 0px 0px 50px;
	}
}