.wrap {
    margin: 70px auto;
} 
.box,
.box-view-more {
    padding: 0px; 
    position: relative; 
    padding-top: 33.33333333333%;
}
.box-inner {
    position: absolute; 
    top: 0px; 
    height: 100%;
    width: 100%;
    background-color: #211335;
}
.box-inner {
    opacity: 0.3;
}
.box-view-more:hover {
    cursor: pointer;
    opacity: 0.3;
}
.box-text {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-text .div-text {
    width: 90%;
}
.box-text .ablum-name {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 0px;
}

.number-images {
    margin-top: 30px;
}
.number-images,
.number-images > span {
    font-size: 17px;
}
/* Custom flex css  */

#images_modal .flexslider {
    border: none;
    margin-bottom: 30px;
}

#images_modal #carousel .flex-active-slide {
    border: 4px solid #00fff3;
}

.flex-direction-nav a:before {
  color: #fff;
  line-height: 1;
}

@media (max-width: 991px) {
    .box-text .ablum-name {
        font-size: 20px;
        line-height: 24px;
    }
    .view-all p {
        margin-bottom: 3px;
    }
}

