/*START BUTTON VIEW MORE CSS*/
.div-view-more {
	margin:auto;
    padding-top: 30px;
}
a.btn-custom-style.btn-custom-style-faqs {
    border: 1px solid #f4963a;
}
.active a.btn-custom-style.btn-custom-style-faqs:focus,
a.btn-custom-style.btn-custom-style-faqs:focus, 
a.btn-custom-style.btn-custom-style-faqs:hover {
    color: #f4963a;
    background-color: #fff;
    border: 1px solid #f4963a;
    background-image: none;
}
/*END BUTTON VIEW MORE CSS*/

.faqs-section {
    margin-top: 60px;
}