{% extends "layout.html" %}

{% block title %}500 - Internal Server Error{% endblock title %}
{% block extrastylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/error_404_500.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/global.css">
{% endblock %}

{% block main_content %}  
    <div align="center" class="content-error">
        <h1 class="color-error">500</h1>
        <h3 class="color-error">Internal Server Error</h3>
        <p class="detail">Please try one of the following pages:</p>
        <a role="button" class="btn-custom-style home-page-link" href="/">Home page</a>
    </div>
{% endblock %}