{% extends "layout.html" %}
{% load i18n %} 
{% block title %}Admin Promotions{% endblock %}
{% block extrastylesheet %}
	<link href="{{ STATIC_URL }}assets/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}assets/websites/css/admin_promotions.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block extrascript %}
	<script src="{{ STATIC_URL }}assets/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src = "{{ STATIC_URL }}assets/websites/js/admin_promotions.js"></script>
{% endblock %}
{% block main_content %} 

<div class="container">
	{% if promotions %}
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive table-custom">
				<table id="promotions-table" class="table" width="100%">
					<thead>
			            <tr>
			            	<th>ID</th>
			            	<th>NAME</th>
			            </tr>
			        </thead>
			        <tbody>
			        	{% for promotion in promotions %}
            			<tr>
            				<td class="numeric">{{ promotion.id }}</td>
			            	<td valign="middle"><a class="title-promotion" href="/admin-promotions/{{promotion.id}}/detail/">{{ promotion.name }}</a></td>
			            	<td><a class="btn btn-custom-style btn-link-more btn-custom-ad-promotion" href="/admin-promotions/{{promotion.id}}/detail/" role="button">{% trans "btn.view_detail" %}</a></td>
            			</tr>
            			{% endfor %}
            		</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}