{% extends "layout.html" %}
{% load i18n %} 
{% block title %}Promotion - Khuyến mãi{% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/slide.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/helio_item.css">
<link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/promotions.css">

{% endblock %}
{% block extrascript %}
<script type="text/javascript" src = "{{ STATIC_URL }}assets/websites/js/promotions.js"></script>
{% endblock %}
{% block main_content %} 
<!-- Page Header -->
<div class="container">
    <!-- CARD PAGE DESCRIPTION -->
    {% if promotions_hots %}
    <div class="page-top">
        <div class="page-header-img">
            <div id="promotion_carousel" class="carousel slide carousel-custom" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-indicators-custom">
                    {% for promotion in promotions_hots %}
                    <li data-target="#promotion_carousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for promotion in promotions_hots %}
                    <div class="item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <a href="/promotions/{{promotion.id}}/detail/" target="_blank"><img src="{{ MEDIA_URL }}{{ promotion.image }}" alt="Helio" width="100%"></a>
                    </div>
                    {% endfor %}
                    {% for promotion in promotions_hots %}
                    <div class="item">
                        <a href="/promotions/{{promotion.id}}/detail/" target="_blank"><img src="{{ MEDIA_URL }}{{ promotion.image }}" alt="Helio" width="100%"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if datas %}
    <div class="btn-section-div">
        <!-- BUTTON GROUP -->
        <ul class="nav btn-custom-group promotion-btn-group">
            {% for category in datas %}
            <li  class="col-md-3 {% if forloop.counter0 == 0 %} active {% endif %}">
                <a href="#promotion{{ category.id }}" role="tab" data-toggle="tab" class="btn-custom-style">{% if forloop.counter0 == 0 %} {% trans "promotionpage.menu.all" %}{% endif %} {{category.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">
        {% for category, promotions in datas.items %}
        <div role="tabpanel" class="tab-pane view-more-content {% if forloop.counter0 == 0 %} active {% endif %}" id="promotion{{ category.id }}">
            <div class="row">
                <!--  KID GAME CONTENT -->
                <div class="kids-game-content col-md-12">
                    {% for promotion in promotions %}
                    {% if forloop.counter|divisibleby:2 %} 
                    <div class="item-line content-pull-left col-md-12" style="display: none;">
                        <div class="row">
                            <div class="item-content-text col-md-5 col-xs-12 pull-right">
                                <div class="col-md-9 image-text pull-right">
                                    {% if promotion.promotion_label %}
                                    <label class="image-text-head">
                                        <label>
                                            {{promotion.promotion_label}}
                                            <span class="glyphicon glyphicon-play"></span>
                                        </label>
                                    </label>
                                    {% endif %}
                                    <p class="item-name">{{promotion.name}}</p>
                                    <p class="text-limit-rows item-description short_description">{{promotion.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-promotion" href="/promotions/{{promotion.id}}/detail/" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="item-content-image col-md-9 col-xs-12">
                                <div class="row"><img src="{{ MEDIA_URL }}{{promotion.image}}" width="100%" height="100%"></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="item-line content-pull-right col-md-12" style="display: none;">
                        <div class="row">
                            <div class="item-content-text col-md-5 col-xs-12">
                                <div class="col-md-9 image-text">
                                    {% if promotion.promotion_label %}
                                    <label class="image-text-head">
                                        <label>
                                            {{promotion.promotion_label}}
                                            <span class="glyphicon glyphicon-play"></span>
                                        </label>
                                    </label>
                                    {% endif %}
                                    <p class="item-name">{{promotion.name}}</p>
                                    <p class="text-limit-rows item-description short_description">{{promotion.short_description}}</p>
                                    <a class="btn btn-custom-style btn-custom-style-promotion" href="/promotions/{{promotion.id}}/detail/" role="button">{% trans "btn.click_now" %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                </div>
                            </div>
                            <div class="item-content-image col-md-9 col-xs-12">
                                <div class="row">
                                    <img src="{{ MEDIA_URL }}{{promotion.image}}" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="btn-read-more div-view-more col-md-12" align="center">
                    <a class="btn-view-more btn-custom-style btn-custom-style-promotion-view-more" role="button">{% trans "btn.view_more" %}</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- DOWNLOAD APP BANNER -->
    <div class="app-banner">
        <a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
    </div>
</div>

{% endblock %}