{% extends "layout.html" %}
{% block extrastylesheet %}
	<link href="{{ STATIC_URL }}assets/websites/css/term_condition.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block title %}Term and condition - Điều khoản sử dụng{% endblock %}
{% block extrascript %}
   <!--  <script src = "{{ STATIC_URL }}assets/websites/js/powercard.js"></script> -->
{% endblock %}
{% block main_content %} 

<div class="container">
	<!-- CARD PAGE DESCRIPTION -->
	<div class="page-top">
		<div class="page-header-img">
			<div>
				<img src="{{ STATIC_URL }}assets/websites/images/tcs-header.png" width="100%">
			</div>
			<div class="page-title" align="center">
				<div class="col-md-12">
					<p class="page-title-text">ĐIỀU KIỆN & <br> ĐIỀU KHOẢN</p>
				</div>
			</div>
		</div>
	</div>
	<!-- button -->
	<div class="col-xs-4 col-md-4">
		<div class="sidebar-nav">
			<div class="navbar navbar-default " role="navigation">
				<div class="navbar-collapse nav-custom sidebar-navbar-collapse">
				  <ul class="nav navbar-nav navbar-custom">
					<li class="active">
						<a class="list-custom-style" role="tab" data-toggle="tab" href="#term_of_use">ĐIỀU KHOẢN SỬ DỤNG</a>
					</li>
					<li>
						<a class="list-custom-style" role="tab" data-toggle="tab" href="#privacy_policy">CHÍNH SÁCH BẢO MẬT</a>
					</li>
					<li>
						<a class="list-custom-style" role="tab" data-toggle="tab" href="#cookie_policy">CHÍNH SÁCH COOKIE</a>
					</li>
					<li>
						<a class="list-custom-style" role="tab" data-toggle="tab" href="#license">BẢN QUYỀN</a>
					</li>
					<li>
						<a class="list-custom-style" role="tab" data-toggle="tab" href="#term_of_use_image">ĐIỀU KHOẢN SỬ DỤNG HÌNH ẢNH</a>
					</li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8 col-md-8">
		<div class="content-section">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="term_of_use">
					<div class="panel-custom-content">
					<!-- Title and description -->
						<div>
							<p>ĐIỀU KHOẢN SỬ DỤNG</p>
							<p><i>Cập nhật mới nhất: 13-6-2016</i></p>
							<p>
								Helio Center là một Trung tâm giải trí phức hợp đa dịch vụ đầu tiên tại thành phố Đà Nẵng. Với diện tích sử dụng hơn 35.000 m2 và nằm tại trung tâm thành phố, Helio Center mang đến cho người dân Đà Nẵng và khách du lịch một lựa chọn hoàn hảo nhất để vui chơi giải trí cùng bạn bè và gia đình mỗi ngày.
							</p>
						</div>
						<!-- List description -->
						<div>
							<ol class="ol-custom">
								<li>Helio Center là một Trung tâm giải trí</li>
								<p>
									Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
								</p>
								<li>Helio Kids là mô hình edutainment</li>
								<p>
									Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
								</p>
									<p><b>2.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.2. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa 2 thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.4. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.5. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Helio Play</li>
									<p>
										Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
									</p>
									<p><b>3.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>3.2. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>3.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Foodcourt và quán cà phê</li>
									<p>
										Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
								<li>Helio Bakery và Helio Coffee</li>
									<p>
										Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
							</ol>

						</div>
												
						
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="privacy_policy">
					<!-- CONTENT HELIO PHILOSOPHY -->
					<div class="panel-custom-content">
					<!-- Title and description -->
						<div>
							<p>CHÍNH SÁCH BẢO MẬT</p>
							<p><i>Cập nhật mới nhất: 26-1-2017</i></p>
							<p>
								Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn!
							</p>
						</div>
						<!-- List description -->
						<div>
							<ol class="ol-custom">
								<li>Helio Center là một Trung tâm giải trí</li>
								<p>
									Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn!
								</p>
								<li>Helio Kids là mô hình edutainment</li>
								<p>
									Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
								</p>
									<p><b>2.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.4. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.5. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Helio Play</li>
									<p>
										Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
									</p>
									<p><b>3.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>3.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Helio Bakery và Helio Coffee</li>
									<p>
										Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
							</ol>

						</div>
												
						
					</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="cookie_policy">
					<div class="panel-custom-content">
					<!-- Title and description -->
						<div>
							<p>CHÍNH SÁCH COOKIE</p>
							<p><i>Cập nhật mới nhất: 2-2-2016</i></p>
							<p>
								Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.
							</p>
						</div>
						<!-- List description -->
						<div>
							<ol class="ol-custom">
								<li>Helio Center là một Trung tâm giải trí</li>
								<p>
									Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.
								</p>
								<li>Helio Kids là mô hình edutainment</li>
								<p>
									Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
								</p>
									<p><b>2.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.2. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa 2 thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Helio Play</li>
									<p>
										Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
									</p>
									<p><b>3.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>3.2. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Foodcourt và quán cà phê</li>
									<p>
										Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
							</ol>

						</div>
												
						
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="license">
					<div class="panel-custom-content">
					<!-- Title and description -->
						<div>
							<p>BẢN QUYỀN</p>
							<p><i>Cập nhật mới nhất: 26-3-2017</i></p>
							<p>
								Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
							</p>
						</div>
						<!-- List description -->
						<div>
							<ol class="ol-custom">
								<li>Helio Center là một Trung tâm giải trí</li>
									<p>
										Helio Center là một Trung tâm giải trí phức hợp đa dịch vụ đầu tiên tại thành phố Đà Nẵng. Với diện tích sử dụng hơn 35.000 m2 và nằm tại trung tâm thành phố, Helio Center mang đến cho người dân Đà Nẵng và khách du lịch một lựa chọn hoàn hảo nhất để vui chơi giải trí cùng bạn bè và gia đình mỗi ngày.
									</p>
								<li>Helio Play</li>
									<p>
										Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
									</p>
									<p><b>3.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>3.2. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>3.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Foodcourt và quán cà phê</li>
									<p>
										Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
								<li>Helio Bakery và Helio Coffee</li>
									<p>
										Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
							</ol>

						</div>
												
						
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="term_of_use_image">
					<div class="panel-custom-content">
					<!-- Title and description -->
						<div>
							<p>ĐIỀU KHOẢN SỬ DỤNG HÌNH ẢNH</p>
							<p><i>Cập nhật mới nhất: 12-10-2016</i></p>
							<p>
								Helio Center là một Trung tâm giải trí phức hợp đa dịch vụ đầu tiên tại thành phố Đà Nẵng. Với diện tích sử dụng hơn 35.000 m2 và nằm tại trung tâm thành phố, Helio Center mang đến cho người dân Đà Nẵng và khách du lịch một lựa chọn hoàn hảo nhất để vui chơi giải trí cùng bạn bè và gia đình mỗi ngày.
							</p>
						</div>
						<!-- List description -->
						<div>
							<ol class="ol-custom">
								
								<li>Helio Kids là mô hình edutainment</li>
								<p>
									Helio Center bao gồm ba sản phẩm chính là Helio Kids, Helio Play, và Helio Food & Beverage, cùng với hàng chục sự kiện được tổ chức hoành tráng mỗi năm.
								</p>
									<p><b>2.1. Helio Kids là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.2. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa 2 thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.3. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.4. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
									<p><b>2.5. Helio Play là </b>mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi.</p>
								<li>Foodcourt và quán cà phê</li>
									<p>
										Helio Kids là mô hình edutainment thực sự dành cho trẻ em. Đây là mô hình mới trên thế giới, kết hợp giữa hai thuật ngữ “education” và “entertainment”, nghĩa là một khu vui chơi kết hợp giữa tính giải trí và giáo dục trong các trò chơi. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
								<li>Helio Bakery và Helio Coffee</li>
									<p>
										Đến với Helio Kids, bạn và con trẻ sẽ được trải nghiệm những mô hình vui chơi hoàn toàn mới lạ với hàng trăm trò chơi hấp dẫn.Với tổng diện tích lên đến hơn 2.700 m2, gồm 42 khu vực chơi, có sức chứa gần 1.000 người; Helio Kids thực sự là một khu vui chơi trong nhà và ngoài trời có quy mô hoành tráng nhất hiện nay dành cho trẻ em từ 2 - 9 tuổi tại Đà Nẵng. Helio Kids có khu vực chơi trong nhà với số lượng trò chơi lên hàng trăm trò, và có thể mở rộng ra đến hàng nghìn cách chơi, dựa trên sự sáng tạo của trẻ. Tuyệt vời hơn! Bé còn được hòa mình cùng thiên nhiên trong một khu vui chơi ngoài trời có diện tích lên tới hơn 750 m2, bao gồm các khu khám phá, biễu diễn, vận động… Helio Kids mang lại cho trẻ một môi trường hoàn hảo cho sự phát triển cả về thể chất lẫn tinh thần.
									</p>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- DOWNLOAD APP BANNER -->
	<div class="app-banner">
		<a href="#"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a>
	</div>
</div>
{% endblock %}